#chat-container {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  #chat-log {
    height: 200px;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }

  #instructions-text {
    font-size: 16px;
  }

  #top-buttons {
    float:right;
  }
  
  .message {
    padding: 5px;
    margin: 5px 0;
  }
  
  .message.user {
    background-color: #c4eaec;
    text-align: right;
  }
  
  /* .message.bot {
    background-color: #175e61;
  } */
  
  .user {
    color: #175e61;
    font-family: "Noto Sans", sans-serif;
  }

  .bot {
    /* color: #c4eaec; */
    font-family: "Noto Sans", sans-serif;
  }